/*! vue-ionicons v.2.0.1 */

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ion {
  display: inline-flex;
}
.ion__svg {
  fill: currentColor;
}
@-webkit-keyframes ionShake {
10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
}
20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
}
30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
}
40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
}
}
@keyframes ionShake {
10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
}
20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
}
30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
}
40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
}
}
@-webkit-keyframes ionRotate {
100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes ionRotate {
100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-webkit-keyframes ionBeat {
0% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
20% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
40% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
80% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
100% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
}
@keyframes ionBeat {
0% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
20% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
40% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
80% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
100% {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
}
.ion-beat {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ionBeat;
  animation-name: ionBeat;
  -webkit-animation-duration: 0.82s;
  animation-duration: 0.82s;
}
.ion-shake {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ionShake;
  animation-name: ionShake;
  -webkit-animation-duration: 0.82s;
  animation-duration: 0.82s;
}
.ion-rotate {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ionRotate;
  animation-name: ionRotate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
small {
  display: block;
  color: #ddd;
  font-size: 16px;
}
.grid__row {
  *zoom: 1;
  margin: 0 auto;
  max-width: 92.308em;
}
.grid__row:before, .grid__row:after {
  display: table;
  content: ' ';
}
.grid__row:after {
  clear: both;
}
.centered {
  text-align: center;
}
.box {
  position: relative;
  float: left;
  width: 10%;
  cursor: pointer;
  margin: 1px;
  padding: 7px 0 3px 0;
  text-align: center;
  border: 1px solid #ddd;
}
.box-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1em 2em;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
}
.box:hover .box-content {
    visibility: visible;
    opacity: 1;
}
.ion:hover {
  color: #4F8EF7;
}
.search__box {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
.search__input {
  padding: 1em 5em;
  margin-right: .5em;
  outline: 0;
  border: 1px solid #ddd;
}
.search__btn {
  background-color: #4F8EF7;
  color: #fff;
  padding: 1em;
  outline: 0;
  border: 1px solid #4F8EF7;
  border-radius: .25em;
  cursor: pointer;
  display: flex;
}
pre {
  padding: 16px;
  background-color: #f6f8fa;
}
.sample {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.card {
  padding: 1em;
  width: 45%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  border-radius: .25em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

/*# sourceMappingURL=app.92fe6658883f4b3ff315b4774c82adde.css.map*/